*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.detail{
    background-color: #ed4137;
    color: white;
    width: 100%;
}


/* ASIENTOS */
.oneDiv{
    margin: 10px;
    width: 52px;
    height: 32px;
    float: left;
}

#modal{
    margin-top: 80px;
}

#seat{
    width: 600px;
    /*height: 900px;*/
}

#screen img{
    margin-left: 200px;
}

#screen p{
    margin-left: 260px;
    font-size: 18px;
    color: #8fa1c7;
}

#icon{
    padding-left: 100px;
    padding-top: 310px;

}

.active{
    padding-left: 2px;
}

li{
    height: 35px;
    line-height: 35px;
    list-style: none;
    color: #0e3a47;
}